/* LESS Stylesheet for Reflective. */

@import 'blueprint/screen.css';

@yellow: #ffec4d;
@gray: #4d5e5f;
@red: #ef6738;

.span (@columns: 1, @deduction: 0) {
    .column;
    width: (40px * @columns - 10px) - @deduction;
}

.left(@columns: 1, @deduction: 0) {
  margin-left: (40px * @columns) - @deduction;
}

.right(@columns: 1, @deduction: 0) {
  margin-right: (40px * @columns) - @deduction;
}

.border-top-left-radius (@radius: 5px) {
  -moz-border-radius-topleft: @radius;
  -webkit-border-top-left-radius: @radius;
  border-top-left-radius: @radius;
}

.border-top-right-radius (@radius: 5px) {
  -moz-border-radius-topright: @radius;
  -webkit-border-top-right-radius: @radius;
  border-top-right-radius: @radius;
}

.border-bottom-right-radius (@radius: 5px) {
  -moz-border-radius-bottomright: @radius;
  -webkit-border-bottom-right-radius: @radius;
  border-bottom-right-radius: @radius;
}

.border-bottom-left-radius (@radius: 5px) {
  -moz-border-radius-bottomleft: @radius;
  -webkit-border-bottom-left-radius: @radius;
  border-bottom-left-radius: @radius;
}

.border-radius (@radius: 5px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

body {
    text-align: center;
    background: @yellow;
}

#content {
    .span(24, 16); .last;
    .border-radius(40px);

    background-color: white;
    text-align: left;
    margin-top: 3em;
    border: 8px solid @red;

    .header {
        .left(1, 8); .span(22); .right(1, 8);

        margin-top: 28px;

        .left {
            .span(8);
            .border-top-left-radius(10px);

            background-color: @gray;
            height: 7.5em;
        }
        .right {
            .span(14); .last;
            .border-top-right-radius(10px);

            background-color: @gray;
            height: 7.5em;
        }
    }

    #article {
        .left(9, 8); .span(13); .right(1, 8);
        letter-spacing: 0.1em;
    }
}

